<!-- ======= Header ======= -->
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <!-- <h2 class="welcome-msg">Welcome, /name here\ !</h2> -->
      <!-- <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i> -->
        <!-- <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i> -->
      </div>
      <div class="social-links d-none d-md-flex">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
          
          
      </div>
    </div>
  </section>
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="/">Titan's Bookstore</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/search">Search</a></li>
          <li class="dropdown"><a href="#"><span>Genre</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Mystery</a></li>
              <li><a href="#">Horror</a></li>
              <li><a href="#">Romance</a></li>
              <li><a href="#">Science-Fiction</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto cart-link" href="/cart">Cart</a></li>
            <% if (typeof isAuthenticated !== 'undefined' && isAuthenticated) { %>
            <li id="logoutButton"><a class="nav-link scrollto" href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li><a class="nav-link scrollto" href="/auth/signup">Signup</a></li>
            <li><a class="nav-link scrollto" href="/auth/login">Login</a></li>
            <% } %>

          <!-- <li><a class="nav-link scrollto" href="#team">Team</a> -->
            <li class="dropdown"><a href="#team"><span>Meet the Team</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="https://www.linkedin.com/in/amos-reginald-jr-3b21011a4/">Amos Reginald</a></li>
                <li><a href="https://www.linkedin.com/in/vincenzocammilleri/">Vincenzo Cammilleri</a></li>
                <li><a href="#">Omr</a></li>
                <li><a href="#">Adedoyin</a></li>
                <li><a href="#">Justin</a></li>
              </ul>
            </li>
          </li>
          
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  

