  <main id="main">
    <section class="inner-page">
      <div class="search-container">
        <form action="/search-results" method="get" id="search-form" class="search-form">
          <div class="input-wrapper">
            <h3 class="search-title">Search for book by title or Author</h3>
            <input name="term" type="text" placeholder="Search for a book..." class="search-input">
            <div>
              <button type="submit" class="search-button">search</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>